*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* CSS HEX */
--chamoisee: #948561ff;
--black: #030201ff;
--battleship-gray: #82796Dff;
--dun: #E6D3B9ff;
--black-bean: #430200ff;
--eerie-black: #1C1914ff;
}

body{
    font-family: 'Host Grotesk', sans-serif;
}

header{
    font-family: 'Host Grotesk', sans-serif;
    text-align: center;
    margin-top: 300px;
}


  #upload {
    display: block;
    margin-top: 28px;
    font-family: 'Host Grotesk', sans-serifs;
    margin-left: 550px;
    cursor: pointer;
  }

  ::-webkit-scrollbar{
    display: none;
  }
